/* app css stylesheet */
#sales {
  min-height: 400px;
}
#employees {
  min-height: 400px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.loader {
  position: absolute;
  text-align: center;
  width: 90%;
  top: 200px;
  bottom: 0px;
  color: #888;
}

.mapframe {
  background-color: #fff;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
.maplabel {
  position: absolute;
  text-align: center;
  width: 90%;
  bottom: 0px;
  color: #888;
}

body {
  background-color: #474747 !important;
}

.myalerts {
  padding:50px !important;
}

.page-header {
  border: 0px none !important;
}

.page-header h1 {
  color: #ddd;
}
